<%= form_with(model: cleaner, local: true) do |form| %>
  <% if cleaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cleaner.errors.count, "error") %> prohibited this cleaner from being saved:</h2>

      <ul>
        <% cleaner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <font size="5"><%= form.label :nome%>
    <%= form.text_field :nome, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", value:"Marinete #{rand 100}"  %>
    </font>
  </div>

  <div class="form-group">
    <font size="5"><%= form.label :servicos %>
    <%= form.text_field :servicos, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
    </font>
  </div>

  <div class="form-group">
    <font size="5"><%= form.label :dias_disponiveis %>
    <%= form.number_field :dias_disponiveis, max: 5, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
    </font>  
  </div>

  <div class="form-group">
    <font size="5"><%= form.label :idade %>
    <%= form.number_field :idade, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
    </font>  
  </div>

  <div class="form-group">
    <font size="5"><%= form.submit "Salvar", class: "btn btn-lg btn-primary" %></font>
  </div>
<% end %>
