 <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>

 <br>
      <br>
<h1>Editing Cleaner</h1>

<%= render 'form', cleaner: @cleaner %>

<%= link_to 'Mostrar', @cleaner, class:"btn btn-lg btn-primary" %> 
<%= link_to 'Voltar', cleaners_path, class:"btn btn-lg btn-primary" %>
