 <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>

 <br>
      <br>


<h1>Faxineiras</h1>

<% @cleaners.each do |cleaner| %>
  <div class="cleaner row clearfix">
    <%if current_user.cleaners.include?(cleaner)%>
      <td><font size="5"><%= link_to cleaner.nome , cleaner, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %></td></font>
    <%end%>
    <small class="cleaner"></small>
 </div>
<% end %>

