 <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>

 <br>
      <br>

<p id="notice"><%= notice %></p>
<h1>Faxineira</h1>
<div class="page-header">
  <td><font size="5"><strong>Nome: <%= @cleaner.nome %></strong></td></font>  
  <br>  
  <td><font size="5"><strong>Idade: <%= @cleaner.idade %></strong></td></font>
</div>

<% if user_signed_in? %>
	<div class="btn-group">
		<%= link_to 'Voltar para pedidos', root_path, class:"btn btn-lg btn-primary"%>
          <%= link_to 'Voltar para faxineiras', cleaners_path, class:"btn btn-lg btn-primary"%>
		<%= link_to 'Editar', edit_cleaner_path(@cleaner), class:"btn btn-lg btn-primary" %>
		<%= link_to 'Deletar', @cleaner, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-lg btn-primary" %>
	</div>
<% end %>

