 <br>
      <br>
      <br>
      <br>
 <br>
      <br>
      <br>
      <br>


<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="form-inputs">

      <div class="form-group">
        <font size="5"><%= f.label :email %>
        <%= f.email_field :email, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", :autofocus => true %>
        </font>    
      </div>
     
      <div class="form-group">
        <font size="5"><%= f.label :password %> <i>(deixe em branco caso não queira alterar a senha)</i>
        <%= f.password_field :password, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", :autocomplete => "off" %>
        </font>
      </div>

      <div class="form-group">
        <font size="5"><%= f.label :current_password %> <i>(precisamos da senha atual para confirmação)</i>
        <%= f.password_field :current_password, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
        </font>
      </div>

      <div class="form-group">
        <font size="5"><%= f.submit "Atualizar", class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %></font>
      </div>

    <% end %>
  </div>
  <div class="panel-footer">

    <h3>Cancelar minha conta</h3>

    <p>Insatisfeito?? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-lg btn-primary" %></p>

  </div>