 <br>
      <br>
      <br>
      <br>

 <br>
      <br>
      <br>
      <br>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

		<div class="form-group">
			<font size="5"><%= f.label :email %>
			<%= f.email_field :email, autofocus: true, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", required: true %>
			</fonts>
		</div>

		<div class="form-group">
			<font size="5"><%= f.label :password %>
			<%= f.password_field :password, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", required: true %>
			</font>
		</div>

		<div class="form-group">
			<font size="5"><%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", required: true %>
			</font>
		</div>

		<div class="form-group">
			<font size="5"><%= f.submit "Sign up", class: "btn btn-xl btn-outline-dark" %></font>
		</div>
		
<% end %>

<%= render "devise/shared/links" %>