<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>
      <ul>
        <% pedido.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <font size="5"><%= form.label :nome %>
    <%= form.text_field :nome ,  class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"%>
    </font>
  </div>

  <div class="form-group">
    <font size="5"><%= form.label :local %>
    <%= form.text_field :local ,  class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"%>
    </font> 
  </div>

  <div class="form-group">
    <font size="5"><%= form.label :numero_dias %>
    <%= form.number_field :numero_dias, max: 5 ,  class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"%>
    </font> 
  </div>

  <div class="form-group">
    <font size="5"><%= form.label :exigencias %>
    <%= form.text_field :exigencias,  class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
    </font>
  </div>

  <div class="form-group">
    <font size="10"><%= form.submit "Salvar", class: "btn btn-lg btn-primary" %></font>
  </div>
  
<% end %>
