 <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>

 <br>
      <br>
<h1>Editing Pedido</h1>

<%= render 'form', pedido: @pedido %>
<% if user_signed_in?%>
    
    
    <td><%= link_to 'Editar', edit_pedido_path(@pedido), class: "btn bnt-lg btn-primary" %></td>
    <td><%= link_to 'Deletar', @pedido, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn bnt-lg btn-primary" %></td>
<% end %>

<%= link_to 'Mostrar', @pedido, class: "btn bnt-lg btn-primary" %> 
<%= link_to 'Voltar', pedidos_path, class: "btn bnt-lg btn-primary" %>
