<!DOCTYPE html>
<html>
<br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>

 <br>
      <br>
      <br>
      <br>
<head>
    <title>Pedidos</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'freelancer', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    </head>
<body>
<%if user_signed_in?%>
  <h1>Pedidos</h1>

    <div>

    </div>
    <% @pedidos.each do |pedido| %>
      <% if current_user == pedido.user%>
        <div class="cleaner row clearfix">
            <td><font size="5"><%= link_to pedido.nome, pedido, class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %></font></td>
        </div>
      <% end %>
    <% end %>
<%else%>

<div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="assets/images/avataaars.svg" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">HouseCleaning</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
<p class="lead">For your house, for your life.</p>

    <br>
    <br>
    <br>
    <br>

    </div>


  <section class="page-section bg-primary text-white mb-0" id="about" >
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon">

              </div>
              <div class="divider-custom-line"></div>
            </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">HouseCleaning is a website that you can have a diferenciated clean at your house. With professionals services, your house will be the perfect house.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">HouseCleaning é um site em que você pode ter uma limpeza diferenciada em sua casa. Com serviços profissionais, sua casa será a casa perfeita.</p>
        </div>
      </div>

      <!-- About Section Button -->
  <!--    <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
          <i class="fas fa-download mr-2"></i>
          Free Download!
        </a>
      </div>
-->
    </div>
  </section>

<%end%>
<br>
</body>
</html>

