 <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>

 <br>
      <br>
<h1>Novo Pedido</h1>

<%= render 'form', pedido: @pedido %>

<%= link_to 'Voltar', pedidos_path, class:"btn btn-lg btn-primary" %>
