 <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>

 <br>
      <br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pedido.nome %>
</p>

<p>
  <strong>Local:</strong>
  <%= @pedido.local %>
</p>

<p>
  <strong>Numero dias:</strong>
  <%= @pedido.numero_dias %>
</p>

<p>
  <strong>Exigencias:</strong>
  <%= @pedido.exigencias %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @pedido.preco %>
</p>


<% if @pedido.user == current_user %>
  <div class="form-group">
         <% if current_user.cleaners.any?%>
            <%= link_to "Mostrar Faxineira", current_user.cleaners.last, class: "btn btn-lg btn-primary"%>
         <% else %>
            <%= link_to "Adicionar Faxineira", new_cleaner_path, class: "btn btn-lg btn-primary"%>
         <% end %>
  </div>
  <%= link_to 'Editar', edit_pedido_path(@pedido), class: "btn btn-lg btn-primary" %> |
  <%= link_to 'Voltar', pedidos_path, class: "btn btn-lg btn-primary" %>
<% end %>