 <br>
      <br>
      <br>
      <br>

 <br>
      <br>
      <br>
      <br>

<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
  	<font size="5"><%= f.label :email %>
  	<%= f.email_field :email, autofocus: true,  class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", required: false %>
     </font>
  </div>

  <div class="form-group">
  	<font size="5"><%= f.label :password %>
  	<%= f.password_field :password,  class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", required: false %>
     </font>
  </div>

  <div class="checkbox">
  	<label>
  	<%= f.check_box :remember_me, required: false, as: :boolean if devise_mapping.rememberable? %> Remember Me
		</label>
  </div>

  <div class="form-group">
  	<font size="5"><%= f.submit "Sign In", class: "btn btn-xl btn-outline-dark" %></font>
  </div>

<% end %>

<%= render "devise/shared/links" %>